<a href="https://colab.research.google.com/github/andreiacampos98/datascience_course/blob/main/aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#Importar os dados do ficheiro Carros2 para uma DataFrame chamada Carros2 José P.M.
import pandas as pd
import numpy as np
df = pd.read_csv("/content/Carros2.csv")

In [33]:
#Linha 2 Explorar conteúdo da tabela e identificar potenciais situações de erro Nuno
print(df.head())

         make fuel-type aspiration num-of-doors body-style drive-wheels  \
0  volkswagen         ?        std         four      sedan          fwd
1       honda       gas        std          two      sedan          fwd
2         bmw       gas        std          two      sedan          rwd
3       mazda       gas        std          two  hatchback          rwd
4       honda       gas        std         four      sedan          fwd

  engine-location  wheel-base  length  width height  curb-weight  engine-size  \
0           front        97.3   171.7   65.5   55.7         2300          109
1           front        96.5   169.1   66.0   51.0         2293          110
2           front       101.2   176.8   64.8   54.3         2395          108
3           front        95.3   169.0   65.7   49.6         2380           70
4           front        96.5   175.4   65.2   54.1         2465          110

   horsepower  price
0       100.0   9995
1       100.0  10345
2       101.0  16430
3       101.0  11845
4       101.0  12945

In [34]:

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             201 non-null    object
 1   fuel-type        201 non-null    object
 2   aspiration       201 non-null    object
 3   num-of-doors     199 non-null    object
 4   body-style       201 non-null    object
 5   drive-wheels     201 non-null    object
 6   engine-location  201 non-null    object
 7   wheel-base       201 non-null    float64
 8   length           201 non-null    float64
 9   width            201 non-null    float64
 10  height           201 non-null    object
 11  curb-weight      201 non-null    int64
 12  engine-size      201 non-null    int64
 13  horsepower       199 non-null    float64
 14  price            201 non-null    object
dtypes: float64(4), int64(2), object(9)
memory usage: 23.7+ KB
None

In [35]:
print(df.describe())

       wheel-base      length       width  curb-weight  engine-size  \
count  201.000000  201.000000  201.000000   201.000000   201.000000
mean    98.797015  174.200995   65.889055  2555.666667   126.875622
std      6.066366   12.322175    2.101471   517.296727    41.546834
min     86.600000  141.100000   60.300000  1488.000000    61.000000
25%     94.500000  166.800000   64.100000  2169.000000    98.000000
50%     97.000000  173.200000   65.500000  2414.000000   120.000000
75%    102.400000  183.500000   66.600000  2926.000000   141.000000
max    120.900000  208.100000   72.000000  4066.000000   326.000000

       horsepower
count  199.000000
mean   103.396985
std     37.553843
min     48.000000
25%     70.000000
50%     95.000000
75%    116.000000
max    262.000000

In [36]:
#Linha 3 Identificar missing values e converte-los para o formato NaN
print(df.isnull().sum())

make               0
fuel-type          0
aspiration         0
num-of-doors       2
body-style         0
drive-wheels       0
engine-location    0
wheel-base         0
length             0
width              0
height             0
curb-weight        0
engine-size        0
horsepower         2
price              0
dtype: int64

In [37]:
print(df.isnull())

print(df.isnull().any().any())

      make  fuel-type  aspiration  num-of-doors  body-style  drive-wheels  \
0    False      False       False         False       False         False
1    False      False       False         False       False         False
2    False      False       False         False       False         False
3    False      False       False         False       False         False
4    False      False       False         False       False         False
..     ...        ...         ...           ...         ...           ...
196  False      False       False         False       False         False
197  False      False       False         False       False         False
198  False      False       False         False       False         False
199  False      False       False         False       False         False
200  False      False       False         False       False         False

     engine-location  wheel-base  length  width  height  curb-weight  \
0              False       False   False  False   False        False
1              False       False   False  False   False        False
2              False       False   False  False   False        False
3              False       False   False  False   False        False
4              False       False   False  False   False        False
..               ...         ...     ...    ...     ...          ...
196            False       False   False  False   False        False
197            False       False   False  False   False        False
198            False       False   False  False   False        False
199            False       False   False  False   False        False
200            False       False   False  False   False        False

     engine-size  horsepower  price
0          False       False  False
1          False       False  False
2          False       False  False
3          False       False  False
4          False       False  False
..           ...         ...    ...
196        False       False  False
197        False       False  False
198        False       False  False
199        False        True  False
200        False        True  False

[201 rows x 15 columns]
True

In [38]:
df.replace('', np.nan, inplace=True)

In [39]:
print(df.isnull().sum())

make               0
fuel-type          0
aspiration         0
num-of-doors       2
body-style         0
drive-wheels       0
engine-location    0
wheel-base         0
length             0
width              0
height             0
curb-weight        0
engine-size        0
horsepower         2
price              0
dtype: int64

In [40]:
#Linha 4 Corrigir tipologia das colunas, caso necessário Andreia
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             201 non-null    object
 1   fuel-type        201 non-null    object
 2   aspiration       201 non-null    object
 3   num-of-doors     199 non-null    object
 4   body-style       201 non-null    object
 5   drive-wheels     201 non-null    object
 6   engine-location  201 non-null    object
 7   wheel-base       201 non-null    float64
 8   length           201 non-null    float64
 9   width            201 non-null    float64
 10  height           201 non-null    object
 11  curb-weight      201 non-null    int64
 12  engine-size      201 non-null    int64
 13  horsepower       199 non-null    float64
 14  price            201 non-null    object
dtypes: float64(4), int64(2), object(9)
memory usage: 23.7+ KB
None

In [42]:
df['height']=df['height'].astype(float)

ValueError: could not convert string to float: '?'

In [ ]:
df['price']=df['price'].astype(float)

In [31]:
#Linha 5 Indicar o total de observações com missing values e o número de missing values por variável Susana
print(df.isnull().any(axis=1).sum())
print(df.isnull().sum())

8
make               0
fuel-type          4
aspiration         0
num-of-doors       2
body-style         0
drive-wheels       0
engine-location    0
wheel-base         0
length             0
width              0
height             1
curb-weight        0
engine-size        0
horsepower         2
price              1
dtype: int64

In [30]:
#Linha 6 No caso da variável price, caso ela tenha missing values, fazer drop
df.dropna(subset=['price'], axis=0, inplace='True')

ValueError: For argument "inplace" expected type bool, received type str.

In [ ]:
#Linha 7 Caso existam missing values noutras variáveis quantitativas, substitui-os pela média