# <p style="text-align: center;"> MÓDULO 3 - EXPLORATORY DATA ANALYTICS </p>
## Aula 2

### <span style="color: blue;"> * **Exercicio 1**</span>

**Passo 1** - Importar a biblioteca Pandas para o Python com o alias **pd**

In [1]:
import pandas as pd

**Passo 2** - Criar uma lista chamada **a** com os valores: Renault, Fiat e BMW

In [3]:
a = ['Renault', 'Fiat', 'BMW']

**Passo 3** - Imprimir **a**

In [5]:
print(a)

['Renault', 'Fiat', 'BMW']

**Passo 4** - Imprimir tipologia de **a**

In [7]:
print(type(a))

<class 'list'>

**Passo 5** - Criar uma lista chamada **b** com os valores: Twingo, 600 e X5

In [9]:
b = ['Twingo', '600', 'X5']

**Passo 6** - Imprimir **b**

In [11]:
print(b)

['Twingo', '600', 'X5']

**Passo 7** - Imprimir tipologia de **b**

In [13]:
print(type(b))

<class 'list'>

**Passo 8** - Criar um dicionário chamado **dicionario** com:
* **marca** - lista de valores presentes em **a**
* **modelo** - lista de valores presentes em **b**

In [15]:
dicionario = {'marca': a,
			   'modelo':b}

**Passo 9** - Imprimir **dicionario**

In [17]:
print(dicionario)

{'marca': ['Renault', 'Fiat', 'BMW'], 'modelo': ['Twingo', '600', 'X5']}

**Passo 10** - Imprimir tipologia de **dicionario**

In [19]:
print(type(dicionario))

<class 'dict'>

**Passo 11** - Criar um DataFrame chamado **df_dicionario** com base no dicionário **dicionario**

In [21]:
df_dicionario = pd.DataFrame(dicionario)

**Passo 12** - Imprimir **df_dicionario**

In [23]:
print(df_dicionario)

     marca  modelo
0  Renault  Twingo
1     Fiat     600
2      BMW      X5

**Passo 13** - Imprimir tipologia de **dicionario**

In [25]:
print(type(df_dicionario))

<class 'pandas.core.frame.DataFrame'>

**Passo 14** - Imprimir apenas **2ª linha** de **df_dicionario**

In [27]:
print(df_dicionario.iloc[1])

marca     Fiat
modelo     600
Name: 1, dtype: object

### <span style="color: blue;"> * **Exercicio 2**</span>

**Passo 1** - Criar uma variável chamada **path** com o caminho onde guardaram ficheiro **data**

In [29]:
#path='C:/Users/basketa/EDIT/MODULO3/AULA2/data.csv'

**Passo 2** - Importar os dados do ficheiro **data** para uma DataFrame chamada **Dados**

In [31]:
Dados = pd.read_csv(path)

**Passo 3** - Imprimir conteúdo total de **Dados**

In [33]:
print(Dados)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

**Passo 4** - Imprimir tipologia da **Dados**

In [35]:
print(type(Dados))

<class 'pandas.core.frame.DataFrame'>

**Passo 5** - Imprimir apenas os **3 primeiros** elementos da **Dados**

In [37]:
print(Dados.head(3))

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0

**Passo 6** -Imprimir apenas os **4 últimos** elementos da **Dados**

In [39]:
Dados.tail(4)

     Duration  Pulse  Maxpulse  Calories
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

**Passo 7** - Imprimir informação sobre o conteúdo de **Dados**

In [41]:
print(Dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

### <span style="color: blue;"> * **Exercicio 3**</span>

**Passo 1** - Criar uma variável chamada **path** com o caminho onde guardaram ficheiro **data2**

In [43]:
#path='C:/Users/basketa/EDIT/MODULO3/AULA2/data2.csv'

**Passo 2** - Importar os dados do ficheiro **data2** para uma DataFrame chamada **Dados2**

In [67]:
data2 = pd.read_csv(path)

**Passo 3** - Explorar **conteúdo** da tabela

In [47]:
print(data2.head())

    tran_id   tran_date Store_type
0  22454121  28/02/2014     E-Shop
1  22454122  27/02/2014     e-Shop
2  22454123  24/02/2014   Teleshop
3  22454124  24/02/2014     e-Shop
4  22454125  23/02/2014   teleshop

In [71]:
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tran_id     16 non-null     int64
 1   tran_date   16 non-null     object
 2   Store_type  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes
None

In [51]:
print(data2.describe())

            tran_id
count  1.600000e+01
mean   2.245413e+07
std    3.265986e+00
min    2.245412e+07
25%    2.245412e+07
50%    2.245413e+07
75%    2.245413e+07
max    2.245413e+07

**Passo 4** - Verificar **tipologia dos campos**

In [53]:
 data2.dtypes

tran_id        int64
tran_date     object
Store_type    object
dtype: object

**Passo 5** - Verificar se existem **duplicados**

In [55]:
duplicados=data2.duplicated().any()
print(duplicados)

True

**Passo 6** - **Remover** linhas **duplicadas**

In [73]:
data2.drop_duplicates(inplace=True)
print(data2) #para verificar

     tran_id   tran_date Store_type
0   22454121  28/02/2014     E-Shop
1   22454122  27/02/2014     e-Shop
2   22454123  24/02/2014   Teleshop
3   22454124  24/02/2014     e-Shop
4   22454125  23/02/2014   teleshop
5   22454126  23.02.2014   TeleShop
6   22454127  22/02/2014     e-Shop
7   22454128  22/02/2014        Mbr
8   22454129  22/02/2014        MBR
9   22454130  21/02/2014     e-Shop
12  22454123  27-02-2014   Teleshop
15  22454130  22 02 2014     e-Shop

In [59]:
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 0 to 15
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tran_id     12 non-null     int64
 1   tran_date   12 non-null     object
 2   Store_type  12 non-null     object
dtypes: int64(1), object(2)
memory usage: 384.0+ bytes
None

**Passo 7** - Normalizar coluna **tran_date** para o formato **DD/MM/AAAA**

In [75]:
data2['tran_date'] = data2['tran_date'].str.replace('.','/')
data2['tran_date'] = data2['tran_date'].str.replace('-','/')
data2['tran_date'] = data2['tran_date'].str.replace(' ','/')

**Passo 8** - Converter coluna **tran_date** para o tipologia **datetime**

In [77]:
data2['tran_date'] = pd.to_datetime(data2['tran_date'],dayfirst=True)

In [79]:
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 0 to 15
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   tran_id     12 non-null     int64
 1   tran_date   12 non-null     datetime64[ns]
 2   Store_type  12 non-null     object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 384.0+ bytes
None

**Passo 9** - Criar dicionário chamado **dicio** para usar na **normalização** da coluna **store_type**

In [87]:
dicio = {'E-Shop': 'e-Shop', 'teleshop': 'Teleshop', 'MBR': 'Mbr'}

**Passo 10** - **Normalizar** coluna Store_type usando o **dicio**

In [89]:
data2['Store_type'] = data2['Store_type'].replace(dicio)

In [91]:
data2

     tran_id  tran_date Store_type
0   22454121 2014-02-28     e-Shop
1   22454122 2014-02-27     e-Shop
2   22454123 2014-02-24   Teleshop
3   22454124 2014-02-24     e-Shop
4   22454125 2014-02-23   Teleshop
5   22454126 2014-02-23   TeleShop
6   22454127 2014-02-22     e-Shop
7   22454128 2014-02-22        Mbr
8   22454129 2014-02-22        Mbr
9   22454130 2014-02-21     e-Shop
12  22454123 2014-02-27   Teleshop
15  22454130 2014-02-22     e-Shop