<a href="https://colab.research.google.com/github/andreiacampos98/datascience_course/blob/main/Aula_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

In [ ]:
import pandas as pd
import numpy as np

# Criando Series / Dataframe

In [ ]:
print("Criando uma Series: ")
series = pd.Series([10, 20, 30, 40, 60], name = "Numeros")
print(series)

Criando uma Series:
0    10
1    20
2    30
3    40
4    60
Name: Numeros, dtype: int64

In [ ]:
print("\nCriando um Dataframe:")

df = pd.DataFrame({
   "Nomes": ["Ana", "Bruno", "Carla", "Diego", "Eva"],
   "Idades": [23, 35, 30, 40, 28],
   "Salarios": [3000, 4500, 4000, 5000, 3500]
       })

print(df)

Criando um Dataframe:
   Nomes  Idades  Salarios
0    Ana      23      3000
1  Bruno      35      4500
2  Carla      30      4000
3  Diego      40      5000
4    Eva      28      3500

# Explorando os dados

In [ ]:
print(df.head())

   Nomes  Idades  Salarios
0    Ana      23      3000
1  Bruno      35      4500
2  Carla      30      4000
3  Diego      40      5000
4    Eva      28      3500

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nomes     5 non-null      object
 1   Idades    5 non-null      int64
 2   Salarios  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [ ]:
df.describe()

          Idades     Salarios
count   5.000000     5.000000
mean   31.200000  4000.000000
std     6.534524   790.569415
min    23.000000  3000.000000
25%    28.000000  3500.000000
50%    30.000000  4000.000000
75%    35.000000  4500.000000
max    40.000000  5000.000000

In [ ]:
df.columns

Index(['Nomes', 'Idades', 'Salarios'], dtype='object')

In [ ]:
df.shape

(5, 3)

In [ ]:
print(df.duplicated().sum())

0

In [ ]:
print(df.isnull().sum())

Nomes       0
Idades      0
Salarios    0
dtype: int64

# Filtragem

In [ ]:
print(df["Idades"])

0    23
1    35
2    30
3    40
4    28
Name: Idades, dtype: int64

In [ ]:
print(df[["Nomes", "Salarios"]])

   Nomes  Salarios
0    Ana      3000
1  Bruno      4500
2  Carla      4000
3  Diego      5000
4    Eva      3500

In [ ]:
print(df.loc[0])

Nomes        Ana
Idades        23
Salarios    3000
Name: 0, dtype: object

In [ ]:
print(df[df["Idades"]>30])

   Nomes  Idades  Salarios
1  Bruno      35      4500
3  Diego      40      5000

# Modificar os dados

In [ ]:
df["Cidade"] = ["São Paulo", "Rio de Janeiro", "Belo Horizonte", "Curitiba", "Recife"]

print(df)

   Nomes  Idades  Salarios          Cidade
0    Ana      23      3000       São Paulo
1  Bruno      35      4500  Rio de Janeiro
2  Carla      30      4000  Belo Horizonte
3  Diego      40      5000        Curitiba
4    Eva      28      3500          Recife

In [ ]:
df.loc[0, "Salarios"] = 3200

In [ ]:
print(df)

   Nomes  Idades  Salarios          Cidade
0    Ana      23      3200       São Paulo
1  Bruno      35      4500  Rio de Janeiro
2  Carla      30      4000  Belo Horizonte
3  Diego      40      5000        Curitiba
4    Eva      28      3500          Recife

In [ ]:
df.drop("Cidade", axis=1, inplace=True)

print(df)

   Nomes  Idades  Salarios
0    Ana      23      3200
1  Bruno      35      4500
2  Carla      30      4000
3  Diego      40      5000
4    Eva      28      3500

# Exercicios

In [ ]:
# Qual a média dos salários

media_salarios = df["Salarios"].mean()

print("Média dos salários:", media_salarios)

Média dos salários: 4040.0

In [ ]:
# Quem tem o maior Salário

maior_salario = df[df["Salarios"] == df["Salarios"].max()]

print(maior_salario)

   Nomes  Idades  Salarios
3  Diego      40      5000

In [ ]:
qtd_maior_30 = len(df[df["Idades"] > 30])

print(qtd_maior_30)

2

In [ ]:
soma_salarios = df["Salarios"].sum()

print(soma_salarios)

20200

In [ ]:
# Quantas pessoas tem o nome comecando com a letra "A"

qtd_nome_com_a = len(df[df["Nomes"].str.startswith("A")])

print(qtd_nome_com_a)

1

In [ ]:
df["Salarios_Ajustas"] = df["Salarios"] * 1.1

print(df)

   Nomes  Idades  Salarios  Salarios_Ajustas
0    Ana      23      3200            3520.0
1  Bruno      35      4500            4950.0
2  Carla      30      4000            4400.0
3  Diego      40      5000            5500.0
4    Eva      28      3500            3850.0