<a href="https://colab.research.google.com/github/andreiacampos98/datascience_course/blob/main/Exercicio_Aula5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('logistics_data.csv')
df.head()

,Shipment ID,Origin,Destination,Distance (km),Weight (kg),Shipment Cost,Status
0,SHIP0001,Chicago,Dallas,1291,382.82,358.36,In Transit
1,SHIP0002,Chicago,Atlanta,2025,485.80,193.77,Cancelled
2,SHIP0003,Chicago,Denver,1476,717.53,240.87,In Transit
3,SHIP0004,Houston,Atlanta,1066,226.84,404.25,Pending
4,SHIP0005,Houston,Atlanta,498,337.23,395.83,Cancelled

1.1: Qual é o total de remessas no dataset?

In [ ]:
total_remessas = len(df)
print(total_remessas)

50

1.2: Quantas remessas estão em cada status ("In Transit", "Delivered", "Pending", "Cancelled")?

In [ ]:
status_grouped = df.groupby('Status').size()
print (status_grouped)

Status
Cancelled     18
Delivered     15
In Transit     8
Pending        9
dtype: int64

1.3: Qual é o peso médio das remessas?

In [ ]:
peso_medio = df['Weight (kg)'].mean()
print(peso_medio)

465.00500000000005

2.1: Qual é o custo médio de envio?

In [ ]:
custo_medio = df['Shipment Cost'].mean()
print(custo_medio)

263.957

2.2: Qual é o envio mais caro registrado? E o mais barato?

In [ ]:
preco_barato = df['Shipment Cost'].min()
preco_caro = df['Shipment Cost'].max()
print('mais barato: ',preco_barato,'mais caro: ', preco_caro)

mais barato:  68.16 mais caro:  463.84

2.3: Calcule o custo total de envio para remessas "Delivered".

In [ ]:
custo_total = (df['Shipment Cost'][df["Status"] == "Delivered"].sum())
print(custo_total)

4284.3099999999995

3.1: Quais são as rotas mais comuns (combinações de origem e destino)?

In [ ]:
rotas_comuns = df.groupby(['Origin','Destination']).size().sort_values(ascending=True)
print (rotas_comuns)

Origin       Destination
New York     Denver           1
             Atlanta          1
Miami        Seattle          1
             Denver           1
             Atlanta          1
Houston      Dallas           1
             Denver           1
             San Francisco    1
Los Angeles  Denver           1
             Dallas           2
New York     Seattle          2
Houston      Seattle          2
Chicago      San Francisco    2
             Denver           2
Miami        Dallas           3
Chicago      Seattle          3
             Dallas           3
New York     San Francisco    3
Los Angeles  San Francisco    4
Chicago      Atlanta          4
Houston      Atlanta          5
Miami        San Francisco    6
dtype: int64

3.2: Qual é a distância média percorrida por remessa?

In [ ]:
distancia_media = df['Distance (km)'].mean()
print(distancia_media)

1411.56

In [ ]:
distancia_media1 = (df['Distance (km)'][df["Status"] != "Cancelled"].mean())
print('sem as cancelled: ',distancia_media1)

sem as cancelled:  1381.96875

3.3: Encontre a origem com o maior número de remessas.

mais_remessas= df.groupby(['Origin']).size()

In [ ]:
mais_remessas= df.groupby(['Origin']).size().sort_values(ascending=False)
mais_remessas.head(1)

Origin
Chicago    14
dtype: int64

4.1: Qual é a remessa mais pesada?

In [ ]:
mais_pesada = (df['Shipment ID'][df["Weight (kg)"] == df["Weight (kg)"].max()])
print(mais_pesada)

24    SHIP0025
Name: Shipment ID, dtype: object

In [ ]:
mais_pesado = df[df["Weight (kg)"] == df["Weight (kg)"].max()]
print(mais_pesado)

   Shipment ID Origin Destination  Distance (km)  Weight (kg)  Shipment Cost  \
24    SHIP0025  Miami     Atlanta           1845       999.73          289.9

       Status
24  Delivered

4.2: Existe uma relação entre o peso das remessas e o custo de envio? (Sugestão: calcule a correlação entre as colunas "Weight (kg)" e "Shipment Cost").

In [ ]:
relacao_peso_custo = df["Weight (kg)"].corr(df["Shipment Cost"])

print(relacao_peso_custo)

0.29828224704000056

In [ ]:
relacao_peso_custo = df["Shipment Cost"].corr(df["Weight (kg)"])

print(relacao_peso_custo)

0.29828224704000056

4.3: Qual é a remessa com a maior distância percorrida?

In [ ]:
mais_percorreu = (df['Shipment ID'][df["Distance (km)"] == df["Distance (km)"].max()])
print(mais_percorreu)

44    SHIP0045
Name: Shipment ID, dtype: object

In [ ]:
remessa_maior_distancia = df.loc[df['Distance (km)'].idxmax()]
print(f"Shipment ID: {remessa_maior_distancia['Shipment ID']}, Peso: {remessa_maior_distancia['Weight (kg)']}")

Shipment ID: SHIP0045, Peso: 705.04