# <p style="text-align: center;"> MÓDULO 3 - EXPLORATORY DATA ANALYTICS </p>
## Aula 3

### <span style="color: blue;"> * **Exercicio 2**</span>

**Passo 1** - Importar os dados do ficheiro **Carros3** para uma DataFrame chamada Carros3

In [3]:
import pandas as pd
#Carros3 = pd.read_csv('C:/Users/basketa/EDIT/MODULO3/AULA3/Carros3.csv')

**Passo 2** - Avaliar os **principais indicadores** das variáveis quantitativas e verifica se existe um **problema de escalas**.

In [5]:
Carros3.describe()

,wheel-base,length,width,height,curb-weight,engine-size,horsepower,price
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,98.792000,174.18900,65.887500,53.781500,2556.760000,126.965000,103.400000,13203.415000
std,6.081171,12.35192,2.106628,2.442733,518.361966,41.631716,37.459258,7966.833912
min,86.600000,141.10000,60.300000,47.800000,1488.000000,61.000000,48.000000,5118.000000
25%,94.500000,166.67500,64.100000,52.000000,2163.000000,97.750000,70.000000,7775.000000
50%,96.950000,173.20000,65.500000,54.100000,2417.000000,120.000000,95.000000,10270.000000
75%,102.400000,183.50000,66.675000,55.525000,2928.250000,142.000000,116.000000,16500.750000
max,120.900000,208.10000,72.000000,59.800000,4066.000000,326.000000,262.000000,45400.000000

In [6]:
Carros3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   make             200 non-null    object
 1   fuel-type        200 non-null    object
 2   aspiration       200 non-null    object
 3   num-of-doors     200 non-null    object
 4   body-style       200 non-null    object
 5   drive-wheels     200 non-null    object
 6   engine-location  200 non-null    object
 7   wheel-base       200 non-null    float64
 8   length           200 non-null    float64
 9   width            200 non-null    float64
 10  height           200 non-null    float64
 11  curb-weight      200 non-null    int64
 12  engine-size      200 non-null    int64
 13  horsepower       200 non-null    int64
 14  price            200 non-null    int64
dtypes: float64(4), int64(4), object(7)
memory usage: 23.6+ KB

**Passo 3** - Criar uma nova variável **length_min_max** através da transformação **Min-Max** aplicada à variável **length**. Valida se os valores da nova variável são os **previstos pela transformação**.

In [8]:
min_length = Carros3['length'].min()
max_length = Carros3['length'].max()

Carros3['length_min_max']= round(( Carros3['length']- min_length)  / (max_length - min_length),2)

In [9]:
Carros3.describe()

,wheel-base,length,width,height,curb-weight,engine-size,horsepower,price,length_min_max
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,98.792000,174.18900,65.887500,53.781500,2556.760000,126.965000,103.400000,13203.415000,0.493350
std,6.081171,12.35192,2.106628,2.442733,518.361966,41.631716,37.459258,7966.833912,0.184405
min,86.600000,141.10000,60.300000,47.800000,1488.000000,61.000000,48.000000,5118.000000,0.000000
25%,94.500000,166.67500,64.100000,52.000000,2163.000000,97.750000,70.000000,7775.000000,0.380000
50%,96.950000,173.20000,65.500000,54.100000,2417.000000,120.000000,95.000000,10270.000000,0.480000
75%,102.400000,183.50000,66.675000,55.525000,2928.250000,142.000000,116.000000,16500.750000,0.630000
max,120.900000,208.10000,72.000000,59.800000,4066.000000,326.000000,262.000000,45400.000000,1.000000

**Passo 4** - Criar uma nova variável **width_std** através da **estandardização** da variável **width**. Validar se os novos valores da variável são os **previstos pela transformação**.

In [11]:
avg = Carros3['width'].mean()
std = Carros3['width'].std()

Carros3['width_std'] = round(((Carros3['width'] - avg) / std)/3,2)

In [12]:
Carros3.describe()

,wheel-base,length,width,height,curb-weight,engine-size,horsepower,price,length_min_max,width_std
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,98.792000,174.18900,65.887500,53.781500,2556.760000,126.965000,103.400000,13203.415000,0.493350,0.000350
std,6.081171,12.35192,2.106628,2.442733,518.361966,41.631716,37.459258,7966.833912,0.184405,0.333923
min,86.600000,141.10000,60.300000,47.800000,1488.000000,61.000000,48.000000,5118.000000,0.000000,-0.880000
25%,94.500000,166.67500,64.100000,52.000000,2163.000000,97.750000,70.000000,7775.000000,0.380000,-0.280000
50%,96.950000,173.20000,65.500000,54.100000,2417.000000,120.000000,95.000000,10270.000000,0.480000,-0.060000
75%,102.400000,183.50000,66.675000,55.525000,2928.250000,142.000000,116.000000,16500.750000,0.630000,0.122500
max,120.900000,208.10000,72.000000,59.800000,4066.000000,326.000000,262.000000,45400.000000,1.000000,0.970000

**Passo 5** - Criar uma nova variável **height_log** através de uma transformação **Logarítmica** aplicada a **height**. Validar se os novos valores da variável são os **previstos pela transformação**.

In [14]:
import numpy as np
Carros3['height_log'] = round(np.log1p(Carros3['height']),2)

In [15]:
Carros3.describe()

,wheel-base,length,width,height,curb-weight,engine-size,horsepower,price,length_min_max,width_std,height_log
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,98.792000,174.18900,65.887500,53.781500,2556.760000,126.965000,103.400000,13203.415000,0.493350,0.000350,4.002700
std,6.081171,12.35192,2.106628,2.442733,518.361966,41.631716,37.459258,7966.833912,0.184405,0.333923,0.044785
min,86.600000,141.10000,60.300000,47.800000,1488.000000,61.000000,48.000000,5118.000000,0.000000,-0.880000,3.890000
25%,94.500000,166.67500,64.100000,52.000000,2163.000000,97.750000,70.000000,7775.000000,0.380000,-0.280000,3.970000
50%,96.950000,173.20000,65.500000,54.100000,2417.000000,120.000000,95.000000,10270.000000,0.480000,-0.060000,4.010000
75%,102.400000,183.50000,66.675000,55.525000,2928.250000,142.000000,116.000000,16500.750000,0.630000,0.122500,4.032500
max,120.900000,208.10000,72.000000,59.800000,4066.000000,326.000000,262.000000,45400.000000,1.000000,0.970000,4.110000

**Passo 6** - Cria uma nova variável **price_decile** através da transformação **em decis** da variável **price**. Valida se os valores da nova variável são os **previstos pela transformação**.

In [17]:
Carros3['price_decile'] = (pd.qcut(Carros3['price'],q=10,labels=False)+1)/10

In [18]:
Carros3.describe()

,wheel-base,length,width,height,curb-weight,engine-size,horsepower,price,length_min_max,width_std,height_log,price_decile
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,98.792000,174.18900,65.887500,53.781500,2556.760000,126.965000,103.400000,13203.415000,0.493350,0.000350,4.002700,0.550000
std,6.081171,12.35192,2.106628,2.442733,518.361966,41.631716,37.459258,7966.833912,0.184405,0.333923,0.044785,0.287949
min,86.600000,141.10000,60.300000,47.800000,1488.000000,61.000000,48.000000,5118.000000,0.000000,-0.880000,3.890000,0.100000
25%,94.500000,166.67500,64.100000,52.000000,2163.000000,97.750000,70.000000,7775.000000,0.380000,-0.280000,3.970000,0.300000
50%,96.950000,173.20000,65.500000,54.100000,2417.000000,120.000000,95.000000,10270.000000,0.480000,-0.060000,4.010000,0.550000
75%,102.400000,183.50000,66.675000,55.525000,2928.250000,142.000000,116.000000,16500.750000,0.630000,0.122500,4.032500,0.800000
max,120.900000,208.10000,72.000000,59.800000,4066.000000,326.000000,262.000000,45400.000000,1.000000,0.970000,4.110000,1.000000

**Passo 7** - **Exportar** os dados de Carros3 num ficheiro csv com o nome **Carros4**

In [31]:
#Carros3.to_csv('C:/Users/basketa/EDIT/MODULO3/AULA3/Carros4.csv', index=False)