<a href="https://colab.research.google.com/github/andreiacampos98/datascience_course/blob/main/Aula_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducao

In [ ]:
nome = "Rodrigo"

print('Ola', nome)

Ola Rodrigo

In [ ]:
def hello(meu_nome):
  print('Ola', meu_nome)

In [ ]:
hello("Paulo")

Ola Paulo

In [ ]:
def hello(meu_nome, idade):
  print('Ola',meu_nome," Sua idade é", idade)

In [ ]:
hello("Rodrigo",31)

Ola Rodrigo  Sua idade é 31

In [ ]:
print()

# Imposto

![image.png]()

In [ ]:
salarios = [6000, 8000, 15000, 23000]

impostos = []

for salario in salarios:
  if salario <=7112:
    taxa = 0.145
  elif salario <= 10732:
    taxa = 0.23
  elif salario <= 20322:
    taxa = 0.285
  elif salario <=25075:
    taxa = 0.35
  elif salario <= 36967:
    taxa = 0.37
  else:
    taxa = 0.45

  imposto = salario * taxa
  impostos.append(imposto)

for i in range(len(salarios)):
  print(f"Salário: {salarios[i]:.2f} - IRS: {impostos[i]:.2f}")

Salário: 6000.00 - IRS: 870.00
Salário: 8000.00 - IRS: 1840.00
Salário: 15000.00 - IRS: 4275.00
Salário: 23000.00 - IRS: 8050.00

In [ ]:
def calcular_taxa(salario):
  if salario <=7112:
    return 0.145
  elif salario <= 10732:
    return 0.23
  elif salario <= 20322:
    return 0.285
  elif salario <=25075:
    return 0.35
  elif salario <= 36967:
    return 0.37
  else:
    return 0.45

salarios = [6000, 8000, 15000, 23000]

impostos = []

for salario in salarios:
  taxa = calcular_taxa(salario)
  imposto = salario * taxa
  impostos.append(imposto)

for i in range(len(salarios)):
  print(f"Salário: {salarios[i]:.2f} - IRS: {impostos[i]:.2f}")

Salário: 6000.00 - IRS: 870.00
Salário: 8000.00 - IRS: 1840.00
Salário: 15000.00 - IRS: 4275.00
Salário: 23000.00 - IRS: 8050.00

In [ ]:
def calcular_taxa(salario):
  if salario <=7112:
    return 0.145
  elif salario <= 10732:
    return 0.23
  elif salario <= 20322:
    return 0.285
  elif salario <=25075:
    return 0.35
  elif salario <= 36967:
    return 0.37
  else:
    return 0.45

salarios = [6000, 8000, 15000, 23000]

impostos = []

impostos = [ salario * calcular_taxa(salario) for salario in salarios]

for i in range(len(salarios)):
  print(f"Salário: {salarios[i]:.2f} - IRS: {impostos[i]:.2f}")

Salário: 6000.00 - IRS: 870.00
Salário: 8000.00 - IRS: 1840.00
Salário: 15000.00 - IRS: 4275.00
Salário: 23000.00 - IRS: 8050.00

In [ ]:
def calcular_irs(salario):
  if salario <=7112:
    taxa = 0.145
  elif salario <= 10732:
    taxa = 0.23
  elif salario <= 20322:
    taxa = 0.285
  elif salario <=25075:
    taxa = 0.35
  elif salario <= 36967:
    taxa = 0.37
  else:
    taxa = 0.45
  return salario * taxa

salarios = [6000, 8000, 15000, 23000]

impostos = []

impostos = [calcular_irs(salario) for salario in salarios]

for i in range(len(salarios)):
  print(f"Salário: {salarios[i]:.2f} - IRS: {impostos[i]:.2f}")

Salário: 6000.00 - IRS: 870.00
Salário: 8000.00 - IRS: 1840.00
Salário: 15000.00 - IRS: 4275.00
Salário: 23000.00 - IRS: 8050.00

In [ ]:
salarios = []
while True:
  entrada= input("Includa um salario (escreva sair para terminar): ")
  if entrada.lower() == 'sair':
    break
  salario = float(entrada)
  salarios.append(salario)

resultado = [(salario, calcular_irs(salario)) for salario in salarios]

for salario, irs in resultado:
  print(f"Salário: {salario:.2f} - IRS: {irs:.2f}")

Includa um salario (escreva sair para terminar): 250000
Includa um salario (escreva sair para terminar): sair
Salário: 250000.00 - IRS: 112500.00

In [ ]:
def function (lista, target):
  for i, value in enumerate(lista):
    if value == target:
      return i
  return -1

In [ ]:
test_cases = [
    ([1, 2, 3, 4, 5], 3),  # Elemento existe na lista
    ([10, 20, 30, 40], 50),  # Elemento não existe na lista
    ([7, 8, 9], 7),  # Elemento está no início da lista
    ([100, 200, 300], 300),  # Elemento está no final da lista
    ([], 5),  # Lista vazia
]

# Aplicando a função nos casos de teste
results = {f"lista: {lista}, target: {target}": function(lista, target) for lista, target in test_cases}

# Exibindo os resultados
results

{'lista: [1, 2, 3, 4, 5], target: 3': 2,
 'lista: [10, 20, 30, 40], target: 50': -1,
 'lista: [7, 8, 9], target: 7': 0,
 'lista: [100, 200, 300], target: 300': 2,
 'lista: [], target: 5': -1}

# Arg e Kwarg

In [ ]:
def quadrado(numero):
  return numero **2

resultado = quadrado(4)
print(resultado)

16

In [ ]:
def mensagem_boas_vindas():
  print("Bem-Vinda ao programa!")

mensagem_boas_vindas()

Bem-Vinda ao programa!

In [ ]:
def soma_lista(lista):
  return sum(lista)

numero = [1,2,3,4]
resultado = soma_lista(numero)

print(resultado)

10

In [ ]:
def soma(a: int, b:int) -> int:
  return a + b

resultado = soma (3,4)
print(resultado)

7

In [ ]:
def imprime_nome(nome1, nome2, *args):
  return nome1, nome2, args

objeto = imprime_nome("Rodrigo", "Paula", "Joana", "José", "Mariana")

print(objeto)

('Rodrigo', 'Paula', ('Joana', 'José', 'Mariana'))

# Lambda

In [ ]:
preco = 500

def calcular_imposto(preco):
  return preco * 0.3

print(calcular_imposto(preco))

150.0

In [ ]:
calcular_imposto2  = lambda preco : preco * 0.3

print(calcular_imposto2(preco))

150.0

In [ ]:
imposto = [100, 200, 300, 400]
valor = map(lambda x: x*0.3, imposto)
print(list(valor))

[30.0, 60.0, 90.0, 120.0]