<a href="https://colab.research.google.com/github/andreiacampos98/datascience_course/blob/main/Projeto_Logistic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Business Understanding

# Data Understanding

In [ ]:
import pandas as pd

In [ ]:
# Carregar a csv

df = pd.read_csv("/content/logistics_data.csv")

In [ ]:
df.head()

,Shipment ID,Origin,Destination,Distance (km),Weight (kg),Shipment Cost,Status
0,SHIP0001,Chicago,Dallas,1291,382.82,358.36,In Transit
1,SHIP0002,Chicago,Atlanta,2025,485.80,193.77,Cancelled
2,SHIP0003,Chicago,Denver,1476,717.53,240.87,In Transit
3,SHIP0004,Houston,Atlanta,1066,226.84,404.25,Pending
4,SHIP0005,Houston,Atlanta,498,337.23,395.83,Cancelled

In [ ]:
df.describe()

       Distance (km)  Weight (kg)  Shipment Cost
count      50.000000    50.000000      50.000000
mean     1411.560000   465.005000     263.957000
std       893.505597   289.554095     121.951766
min       120.000000     9.310000      68.160000
25%       547.500000   215.880000     148.592500
50%      1275.000000   418.290000     273.815000
75%      2253.250000   704.435000     371.867500
max      2919.000000   999.730000     463.840000

In [ ]:
df.dtypes

Shipment ID       object
Origin            object
Destination       object
Distance (km)      int64
Weight (kg)      float64
Shipment Cost    float64
Status            object
dtype: object

In [ ]:
correlation = df["Weight (kg)"].corr(df["Shipment Cost"])

print(correlation)

0.29828224704000056

In [ ]:
correlation = df["Distance (km)"].corr(df["Shipment Cost"])

print(correlation)

-0.08472604992323071

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Shipment ID    50 non-null     object
 1   Origin         50 non-null     object
 2   Destination    50 non-null     object
 3   Distance (km)  50 non-null     int64
 4   Weight (kg)    50 non-null     float64
 5   Shipment Cost  50 non-null     float64
 6   Status         50 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 2.9+ KB

In [ ]:
print(df.isnull().sum())

Shipment ID      0
Origin           0
Destination      0
Distance (km)    0
Weight (kg)      0
Shipment Cost    0
Status           0
dtype: int64

In [ ]:
print(df.duplicated().sum())

0

# Data transformation

In [ ]:
df["Distance (km)"] = df["Distance (km)"].astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Shipment ID    50 non-null     object
 1   Origin         50 non-null     object
 2   Destination    50 non-null     object
 3   Distance (km)  50 non-null     float64
 4   Weight (kg)    50 non-null     float64
 5   Shipment Cost  50 non-null     float64
 6   Status         50 non-null     object
dtypes: float64(3), object(4)
memory usage: 2.9+ KB

# Modelling (EDA)

In [ ]:
# Total de Remessas

total_shipments = len(df)

print(total_shipments)

50

In [ ]:
# Contar por status

total_delivered = len(df[df["Status"] == "Delivered"])

print(total_delivered)

15

In [ ]:
delivered = total_delivered/total_shipments

print(delivered)

0.3

In [ ]:
status = df["Status"].value_counts(normalize = True) * 100

print (status)

Status
Cancelled     36.0
Delivered     30.0
Pending       18.0
In Transit    16.0
Name: proportion, dtype: float64

In [ ]:
status_grouped = df.groupby('Status').size()

print(status_grouped)

Status
Cancelled     18
Delivered     15
In Transit     8
Pending        9
dtype: int64

In [ ]:
status_grouped = df.groupby('Status').size() / len(df) *100

print(status_grouped)

Status
Cancelled     36.0
Delivered     30.0
In Transit    16.0
Pending       18.0
dtype: float64

In [ ]:
grouped["Count"] =

In [ ]:
grouped_counts = df.groupby(['Origin', 'Status']).size()

print(grouped_counts)

Origin       Status
Chicago      Cancelled     6
             Delivered     4
             In Transit    3
             Pending       1
Houston      Cancelled     5
             Delivered     3
             Pending       2
Los Angeles  Cancelled     1
             Delivered     3
             In Transit    1
             Pending       2
Miami        Cancelled     4
             Delivered     3
             In Transit    3
             Pending       2
New York     Cancelled     2
             Delivered     2
             In Transit    1
             Pending       2
dtype: int64